-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "drift_reports" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "model_id" TEXT NOT NULL,
    "model_version" TEXT,
    "baseline_stats" JSONB NOT NULL,
    "current_stats" JSONB NOT NULL,
    "feature_drifts" JSONB NOT NULL,
    "drift_score" DOUBLE PRECISION NOT NULL,
    "drift_detected" BOOLEAN NOT NULL,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "drift_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "alert_thresholds" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "model_id" TEXT NOT NULL,
    "feature_name" TEXT NOT NULL,
    "method" TEXT NOT NULL DEFAULT 'z_score',
    "threshold" DOUBLE PRECISION NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "alert_thresholds_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "drift_events" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "drift_report_id" UUID NOT NULL,
    "event_type" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "emitted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "drift_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "drift_reports_company_id_idx" ON "drift_reports"("company_id");

-- CreateIndex
CREATE INDEX "drift_reports_company_id_model_id_idx" ON "drift_reports"("company_id", "model_id");

-- CreateIndex
CREATE INDEX "alert_thresholds_company_id_idx" ON "alert_thresholds"("company_id");

-- CreateIndex
CREATE UNIQUE INDEX "alert_thresholds_company_id_model_id_feature_name_key" ON "alert_thresholds"("company_id", "model_id", "feature_name");

-- CreateIndex
CREATE INDEX "drift_events_company_id_idx" ON "drift_events"("company_id");

-- CreateIndex
CREATE INDEX "drift_events_event_type_idx" ON "drift_events"("event_type");

-- AddForeignKey
ALTER TABLE "drift_events" ADD CONSTRAINT "drift_events_drift_report_id_fkey" FOREIGN KEY ("drift_report_id") REFERENCES "drift_reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

