NODE_ENV=development
PORT=3012
DATABASE_URL=postgresql://vera_training:vera_training_secret@localhost:5444/vera_training?schema=public
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars-long
AUTH_VALIDATE_URL=http://localhost:3001/auth/validate-token
ATTACHMENT_SERVICE_URL=http://localhost:3004/attachment
LOG_LEVEL=info
CORS_ORIGIN=*
