-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "TrainingJobStatus" AS ENUM ('queued', 'running', 'completed', 'failed');

-- CreateTable
CREATE TABLE "training_jobs" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "model_type" TEXT NOT NULL,
    "status" "TrainingJobStatus" NOT NULL DEFAULT 'queued',
    "config" JSONB NOT NULL DEFAULT '{}',
    "error_message" TEXT,
    "started_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "training_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dataset_references" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "training_job_id" UUID NOT NULL,
    "dataset_id" TEXT NOT NULL,
    "dataset_version" TEXT,
    "source_type" TEXT NOT NULL,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "dataset_references_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "model_artifacts" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "training_job_id" UUID NOT NULL,
    "artifact_uri" TEXT NOT NULL,
    "artifact_type" TEXT NOT NULL,
    "checksum" TEXT,
    "size_bytes" BIGINT,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "model_artifacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ingestion_event_logs" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "event_type" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "training_job_id" UUID,
    "processed_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ingestion_event_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "training_jobs_company_id_idx" ON "training_jobs"("company_id");

-- CreateIndex
CREATE INDEX "training_jobs_company_id_status_idx" ON "training_jobs"("company_id", "status");

-- CreateIndex
CREATE INDEX "dataset_references_company_id_idx" ON "dataset_references"("company_id");

-- CreateIndex
CREATE INDEX "dataset_references_training_job_id_idx" ON "dataset_references"("training_job_id");

-- CreateIndex
CREATE INDEX "model_artifacts_company_id_idx" ON "model_artifacts"("company_id");

-- CreateIndex
CREATE INDEX "model_artifacts_training_job_id_idx" ON "model_artifacts"("training_job_id");

-- CreateIndex
CREATE INDEX "ingestion_event_logs_company_id_idx" ON "ingestion_event_logs"("company_id");

-- CreateIndex
CREATE INDEX "ingestion_event_logs_event_type_idx" ON "ingestion_event_logs"("event_type");

-- AddForeignKey
ALTER TABLE "dataset_references" ADD CONSTRAINT "dataset_references_training_job_id_fkey" FOREIGN KEY ("training_job_id") REFERENCES "training_jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "model_artifacts" ADD CONSTRAINT "model_artifacts_training_job_id_fkey" FOREIGN KEY ("training_job_id") REFERENCES "training_jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ingestion_event_logs" ADD CONSTRAINT "ingestion_event_logs_training_job_id_fkey" FOREIGN KEY ("training_job_id") REFERENCES "training_jobs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

