-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "ModelVersionStatus" AS ENUM ('draft', 'staging', 'production', 'retired');

-- CreateTable
CREATE TABLE "model_versions" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "model_id" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "status" "ModelVersionStatus" NOT NULL DEFAULT 'draft',
    "training_job_id" UUID,
    "artifact_uri" TEXT,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "model_versions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "model_promotion_history" (
    "id" UUID NOT NULL,
    "company_id" UUID NOT NULL,
    "model_version_id" UUID NOT NULL,
    "action" TEXT NOT NULL,
    "from_status" "ModelVersionStatus" NOT NULL,
    "to_status" "ModelVersionStatus" NOT NULL,
    "performed_by" UUID NOT NULL,
    "reason" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "model_promotion_history_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "model_versions_company_id_idx" ON "model_versions"("company_id");

-- CreateIndex
CREATE INDEX "model_versions_company_id_model_id_idx" ON "model_versions"("company_id", "model_id");

-- CreateIndex
CREATE INDEX "model_versions_company_id_status_idx" ON "model_versions"("company_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "model_versions_company_id_model_id_version_key" ON "model_versions"("company_id", "model_id", "version");

-- CreateIndex
CREATE INDEX "model_promotion_history_company_id_idx" ON "model_promotion_history"("company_id");

-- CreateIndex
CREATE INDEX "model_promotion_history_model_version_id_idx" ON "model_promotion_history"("model_version_id");

-- AddForeignKey
ALTER TABLE "model_promotion_history" ADD CONSTRAINT "model_promotion_history_model_version_id_fkey" FOREIGN KEY ("model_version_id") REFERENCES "model_versions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

