NODE_ENV=development
PORT=3009
DATABASE_URL=postgresql://vera_company:vera_company_secret@localhost:5441/vera_company?schema=public
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars-long
AUTH_VALIDATE_URL=http://localhost:3001/auth/validate-token
LOG_LEVEL=info
CORS_ORIGIN=*
